## ENV

PORT=8006
BASE_PATH=sync/api
DEF_PW=L4n1usLab!

#DATABASE
DATABASE_TYPE=postgres
DATABASE_HOST=postgresql
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=HOims_2023
DATABASE_NAME=ims20

CONNECT_STRING_MDM=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1522))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = BIMA)(FAILOVER_MODE = (BACKUP = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1522))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = BIMA)(FAILOVER_MODE =(BACKUP = BIMA19_TAC)(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5)))))(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5))))
CONNECT_STRING_PORTALSI=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1528))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = INTRANET)(FAILOVER_MODE = (BACKUP = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1528))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = INTRANET)(FAILOVER_MODE =(BACKUP = INTRANET19_TAC)(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5)))))(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5))))
IMS_DB_USERNAME=ho_ims_vw
IMS_DB_PASSWORD=HOims_2023

CONNECT_STRING_PEO=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.122.1.187)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = madra_salya.sub11240637381.proddb01.oraclevcn.com)))
PEO_DB_USERNAME=milea_pgw
PEO_DB_PASSWORD=m1l3A_24_pgW_04a