PORT=4600
BASE_PATH=sync/api
DEF_PW=L4n1usLab!

#DATABASE
#DATABASE_TYPE=postgres
#DATABASE_HOST=45.32.113.248
#DATABASE_PORT=8033
#DATABASE_USERNAME=root
#DATABASE_PASSWORD=root
#DATABASE_NAME=ims

DATABASE_TYPE=postgres
DATABASE_HOST=10.95.200.11
DATABASE_PORT=5432
DATABASE_USERNAME=ims
DATABASE_PASSWORD=@1m5HO2025
DATABASE_NAME=ims

CONNECT_STRING_MDM=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1522))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = BIMA)(FAILOVER_MODE = (BACKUP = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = scan.primavera.pelindo.id)(PORT = 1522))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = BIMA)(FAILOVER_MODE =(BACKUP = BIMA19_TAC)(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5)))))(TYPE = SELECT)(METHOD = PRECONNECT)(RETRIES = 180)(DELAY = 5))))
CONNECT_STRING_PORTALSI=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=scan.madra.pelindo.id)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=madra_salya.sub11240637381.proddb01.oraclevcn.com)))
IMS_DB_USERNAME=ho_ims_vw
IMS_DB_PASSWORD=H0ims_VW_P0rt4l_2025

CONNECT_STRING_PEO=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=scan.madra.pelindo.id)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=madra_salya.sub11240637381.proddb01.oraclevcn.com)))
PEO_DB_USERNAME=milea_pgw
PEO_DB_PASSWORD=m1l3A_24_pgW_04