PORT=4600
BASE_PATH=sync/api
DEF_PW=pw

DATABASE_TYPE=postgres
DATABASE_HOST=host
DATABASE_PORT=5432
DATABASE_USERNAME=ims
DATABASE_PASSWORD=@1m5HO2025
DATABASE_NAME=ims

CONNECT_STRING_MDM=mdm_host
CONNECT_STRING_PORTALSI=portalsi_host
IMS_DB_USERNAME=user
IMS_DB_PASSWORD=pw

CONNECT_STRING_PEO=peo_host
PEO_DB_USERNAME=user
PEO_DB_PASSWORD=pw